<h1>Event Index</h1>
<% @events.each do |event| %>
  <h2><%= event.name %></h2>
  <%= event.date %>
  <strong><%= event.description %></strong>
  <%= link_to "Read mode", event_path(event), class: "btn btn-danger" %>
<% end %>