// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hover:hover{
  background-color: #2E2F30;
  transition: background-color 0.5s ease;
  color: white;
}
